body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* Add some margin to icon images. */
img.icon {
    margin: 0 5px;
}

/* Styles for the header and context menu on the edit and read pages. */
.pageheader {
  border-bottom: 1px solid rgb(224, 224, 224);
  margin-bottom: 10px;
}

.context-menu {
  position: relative;
  top: 12px;
}
