include CHANGES.txt LICENSE.txt README.rst
include development.ini
include ringo/alembic/alembic.ini
include ringo/alembic/script.py.mako
recursive-include ringo/alembic *.py
recursive-include ringo/fixtures *.json
include ringo/locale/de/LC_MESSAGES/ringo.po
include ringo/locale/en/LC_MESSAGES/ringo.po
include ringo/locale/de/LC_MESSAGES/ringo.mo
include ringo/locale/en/LC_MESSAGES/ringo.mo
include ringo/locale/ringo.pot
recursive-include ringo/scripts *.sql
recursive-include ringo/static *
recursive-include ringo/scaffolds *
recursive-include ringo/templates *.mako
recursive-include ringo/views/forms *.xml
recursive-include ringo/views/tables *.json
global-exclude *.orig
